
.slider {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.8);
}


.container {
  position : absolute;
  height : 90%;
  width : 70%;
  left : 15%;
  right : 25%;
  top : 25%;
  bottom : 25%;
  border-radius : 4px;
  background-color : white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
  margin : auto;
  padding : 25px;
  text-align : center;
}

.image {
  width: 500px;
  height: 500px;
}

.right-arrow {
position: absolute;
top: 50%;
right: 32px;
font-size: 3rem;
size: large;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.left-arrow {
position: absolute;
top: 50%;
left: 32px;
font-size: 3rem;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.close-icon{
position: absolute;
top: 1%;
left: 20px;
font-size: 2rem;
size: large;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.slide {
opacity: 0;
transition-duration: 1s ease;
}

.slide.active {
opacity: 1;
transition-duration: 1s;
transform: scale(1.08);
}