.board__wrapper{
    background-color:white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 15px;

}

.board__wrapperContainer{
    column-count: 5;
    column-gap: 5px;
    margin:0 auto;
    height: 100%;
    max-width: 1260px;
    background-color:white;
}